.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 100vw;
  z-index: 1;
  margin-top: 45vh;
  background-color: var(--backgroundColorMainContainer);
}

.hidden {
  visibility: hidden;
}

.footer {
  color: var(--textsColor);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColorContactAndFooterContainer);
}
.footerTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}
.footerText {
  color: var(--textsColor);

}
.footerTitle {
  font-size: 2rem;
  color: var(--mainColor);
}
.footerText,
.footerTitle {
  margin: 0;
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 8rem;
  font-weight: bold;
}

.title,
.titleDesc,
.description,
.accroche {
  text-align: center;
}
.title,
.titleDesc {
  color: var(--mainColor);
}
.description,
.accroche {
  color: var(--textsColor);
}
.titleDesc {
  font-size: 2rem;
}

.description {
  padding: 0 5rem;
  font-size: 1.5rem;
}

.accroche {
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: bold;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex:5;
}

.contactContainer {
  flex:2;
  background-color: var(--backgroundColorContactAndFooterContainer);
  overflow: hidden;
}
.contactContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 55vh;
  right: 1vw;
}

.contentContainer,
.contactContainer {
  height: 100%;
}

.contactLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 1rem;
}
.contactLine p {
  color: var(--textsColor);
  padding:0 1rem;
}
.contactTitle {
  font-size: 3rem;
  color: var(--mainColor);
}

.cardSlideContainer {
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cardSlideContainerContent {
  width: 65vw;
}

.cardSlideBtn {
  height: 100%;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardSlideBtn:hover {
  background-color: var(--backgroundColorContactAndFooterContainer);
  border-radius: 40px;
}

.cardSlideBtn p {
  font-size: 10rem;
  margin: 0;
  padding: 0;
  font-weight: lighter;
  color: var(--mainColor);
}

.cardSlideContentContainer {
  overflow: hidden;
}

.containerBufferLogo img {
  height: 20vh;
  position: fixed;
  right:5vw;
  top:25vh;
  animation-duration: 4s;
  animation-name: popLogo;
}

.logoThinImage {
  height: 10vh !important;
}

.containerBufferLogo p {
  position: fixed;
  right:2vw;
  top:24vh;
  font-size: 5rem;
  animation-duration: 4s;
  animation-name: popLogo;
  background-color: var(--backgroundColorContactAndFooterContainer);
  height: var(--slideBtnSize);
  width: var(--slideBtnSize);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
  border: 2px solid var(--mainColor);
  opacity:0.4;
}

.containerBufferLogo p:hover {
  opacity:1;
}

.containerBufferLogo {
  height: 0;
  width: 0;
}

@media screen and (min-width: 3000px)
{
  .contactContentContainer {
    right: 2vw;
  }
  .title {
    font-size: 20rem;
  }
  .titleDesc {
    font-size: 7rem;
  }
  .description {
    font-size: 3rem;
  }
  .accroche {
    font-size: 8rem;
  }

  .contactLine p {
    font-size: 3rem;
  }
  .contactTitle {
    font-size: 5rem;
  }

  .footer {
    border-top:1px dotted var(--mainColor);
  }
  .footerText {
    font-size: 3rem;
  }
  .footerTitle {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1900px)
{
  .title {
    font-size: 12rem;
  }
  .accroche {
    font-size: 6rem;
  }
  .contactLine p {
    font-size: 2rem;
  }
  .contactTitle {
    font-size: 4rem;
  }
  .titleDesc {
    font-size: 5rem;
  }
  .description {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1280px)
{
  .main {
    flex-direction: column;
  }

  .title {
    font-size: 2.5rem;
  }

  .titleDesc {
    font-size: 1.25rem;
  }

  .description {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .accroche {
    font-size: 1.5rem;
  }

  .cardSlideContainer {
    width: 95vw;
  }

  .cardSlideContainerContent {
    width: 85vw;
    padding: 0;
  }

  .cardSlideBtn p {
    font-size: 3rem;
  }

  .contactContainer {
    padding: 0 0.5rem;
  }
  .contactContentContainer {
    position: relative;
    top:0;
  }

  .contentContainer,
  .contactContainer {
    width: 100%;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .containerBufferLogo img {
    height: 10vh;
    align-self: center;
    position: relative;
    right:0;
    top:0;
    animation-duration: 8s;
  }

  .containerBufferLogo {
    margin-top: -10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 10vh;
  }

  .contactLine {
    padding: 0;
  }
  .contactLine p {
    font-size: 1.25rem;
  }
  .contactTitle {
    font-size: 2.5rem;
    margin: 0;
  }

  .footer {
    border-top:1px dotted var(--mainColor);
  }
  .footerText {
    font-size: 0.75rem;
  }
  .footerTitle {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px)
{
  .contactLine p {
    font-size: 1rem;
  }
  .contactTitle {
    font-size: 2rem;
  }
}

@keyframes popLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}