

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 100vw;
  z-index: 1;
  margin-top: 45vh;
  background-color: var(--backgroundColorMainContainer);
}

.hidden {
  visibility: hidden;
}

.footer {
  color: var(--textsColor);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColorContactAndFooterContainer);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 8rem;
  font-weight: bold;
}

.title,
.titleDesc,
.description,
.accroche {
  text-align: center;
}
.title,
.titleDesc {
  color: var(--mainColor);
}
.description,
.accroche {
  color: var(--textsColor);
}
.titleDesc {
  font-size: 2rem;
}

.description {
  padding: 0 5rem;
  font-size: 1.5rem;
}

.accroche {
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: bold;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex:5;
}

.contactContainer {
  flex:1;
  background-color: var(--backgroundColorContactAndFooterContainer);
  padding: 0 1rem;
}
.contactContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 55vh;
  right: 0;
}

.contentContainer,
.contactContainer {
  height: 100%;
}

.contactLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 1rem;
}
.contactLine p {
  color: var(--textsColor);
  padding:0 1rem;
}
.contactTitle {
  font-size: 3rem;
  color: var(--mainColor);
}

.cardSlideContainer {
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cardSlideContainerContent {
  width: 65vw;
}

.cardSlideBtn {
  height: 100%;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardSlideBtn:hover {
  background-color: var(--backgroundColorContactAndFooterContainer);
  border-radius: 40px;
}

.cardSlideBtn p {
  font-size: 10rem;
  margin: 0;
  padding: 0;
  font-weight: lighter;
  color: var(--mainColor);
}

.cardSlideContentContainer {
  overflow: hidden;
}